.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.inputModule,
.selectModule,
.textareaModule {
    background-color: #FFF;
    border: 1px solid $gray500;
    border-radius: 10px;
    color: #000;
    font-size: .875rem;
    line-height: normal;
    max-width: fit-content;
    outline: 1px solid transparent;
    padding: 14px 15px;
    width: 100%;
    @include soft-transition;

    &.w-100 {
        max-width: 100%;
    }

    &.border-red {
        border-color: $redColor !important;
    }

    &::placeholder {
        color: $lightDarkColor;
    }

    &:focus {
        border-color: #000;

        &.border-red {
            outline-color: $redColor;
        }
    }

    &:read-only {
        opacity: 0.6;
        pointer-events: none;
        touch-action: none;
        user-select: none;
    }

    @media (min-width: 1200px) {
        border-radius: 15px;
        font-size: 1rem;
        padding: 15px 20px;
    }
}

.textareaModule {
    min-height: 100px;
    resize: unset;

    @media (min-width: 1200px) {
        min-height: 175px;
    }
}