.buttonModule {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    gap: 10px;
    height: fit-content;
    justify-content: center;
    line-height: 100%;
    max-width: fit-content;
    overflow: hidden;
    padding: 12px 20px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    @include soft-transition;

    &.w-100 {
        max-width: 100%;
    }

    :global(.iconify) {
        color: #FFF;
        font-size: 1.25rem;
        line-height: 100%;
    }

    &[data-loading="true"] {
        cursor: not-allowed;
        pointer-events: none;
        touch-action: none;
    }

    &[data-variant="black"] {
        background-color: $gray700;
        color: #FFF;

        &:hover {
            background-color: #3d3d3d;
        }
    }

    &[data-variant="white"] {
        background-color: #FFF;
        color: #000;

        &:hover {
            background-color: darken(#FFF, 20%);
        }
    }

    &[data-variant="border-white"] {
        border-color: #FFF;
        background-color: transparent;
        color: #FFF;

        &:hover {
            background-color: #FFF;
            border-color: transparent;
            color: #000;
        }
    }

    &[data-variant="border-black"] {
        border-color: #000;
        background-color: transparent;
        color: #000;

        &:hover {
            background-color: #000;
            border-color: transparent;
            color: #FFF;
        }
    }

    .loadingWrapper {
        align-items: center;
        background-color: $gray700;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 1;
    }

    @media (min-width: 1200px) {
        font-size: 1rem;
        padding: 16px 25px;

        :global(.iconify) {
            font-size: 1.5rem;
        }
    }
}