$green100: #43c243;

$gray100: #EFEFEF;
$gray200: #C5C5C5;
$gray300: #999999;
$gray500: #555555;
$gray700: #242424;

$darkColor: #3F4141;
$darkGray: #242424;
$lightDarkColor: #626262;
$gray300: #D9D9D9;
$blackColor: #152536;
$darkGreenColor: #064E43;
$accentColor: #8ABB6E;
$redColor: #CC6363;
$yellowColor: #B5AE52;
$blueColor: #4b48ff;