* {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font: inherit;
    box-sizing: border-box !important;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    text-size-adjust: none;

    &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: #e2e2e2;
        border-radius: 30px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
    }

    &::selection {
        background-color: #000;
        color: #FFF;
    }
}

[disabled],
[data-disabled] {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
    touch-action: none;
}

[hidden] {
    display: none;
    visibility: hidden;
}

a,
button {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

a,
button,
input,
select,
textarea {
    all: unset;
}

body {
    background-color: #000;
    color: #FFF;
    font-family: $fontFamily;
    font-size: 14px;
    height: auto;
    line-height: normal;
    max-width: 1920px;
    margin: 0px auto;
    width: 100%;

    @media (min-width: 1200px) {
        font-size: 16px;
    }
}

ul,
ol,
li {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

blockquote,
q {
    quotes: none;

    &:before,
    &:after {
        content: '';
        content: none;
    }
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select,
textarea {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;

    &[data-autocompleted] {
        background-color: transparent !important;
    }

    &[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    &[type="date"] {
        -webkit-appearance: textfield;
        appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}


html {
    scroll-behavior: smooth;
}

main,
header,
footer {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

main {
    overflow: hidden;
}

img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    user-select: none;
    width: auto;
}

picture {

    img {
        object-position: center;
        pointer-events: none;
        touch-action: none;
    }
}

.iconify {
    line-height: 100%;
    pointer-events: none;
    vertical-align: middle;
}